{% extends 'base.html' %} {% block content %}

<h1>{{title}}</h1>


{% for diary in diaries|reverse %}
<div class="row">
<div class="col-12">
<div class="card">
<div class="card-body">
    <h2 class="card-title"><a href="/diaries/{{ diary._id }}">{{ diary.title }}</a></h2>
    <h6 class="card-subtitle mb-2">Mood: {{ diary.mood }} </h6>
    <p class="diaries-entry overflow-hidden">{{ diary.entry }}</p>
    <a href="/diaries/{{ diary._id }}" class="card-link"> <button type="button" class="btn btn-show" >Show More</button></a>
    <a href="{{url_for('diaries_edit', diary_id= diary._id)}}"><button type="button" class="btn btn-edit card-link">Edit Entry</button></a>
    </div>
</div>
</div>
 
    </div>
    
  {% endfor %}

{% endblock %}
