{% extends 'base.html' %} {% block content %}



<form method="POST" action="{{ url_for('diaries_update', diary_id=diary._id) }}">
  <div class="form-group">
    <label for="title">Title:</label>
    <input type="text" name="title" class="form-control" value="{{ diary.title }}">
  </div>
  <div class="form-group">
    <label for="mood">Mood:</label>
    <input type="text" name="mood" class="form-control" value="{{ diary.mood }}" >
  </div>
  <div class="form-group">
    <label for="entry">Entry:</label>
    <textarea class="form-control" name="entry" rows="5" value="{{ diary.entry }}" >{{ diary.entry }}
    </textarea>
  </div>
  <p>
    <button type="submit" class="btn btn-edit">Save Entry</button>
  </p>
</form>
{% endblock %}
